/* Custom Colored Panels */
// Blue Panels
.panel-blue {
    border-color: #000;
}
.panel-blue > .panel-heading {
    border-color: #000;
    color: #fff;
    background-color: #208ca4;
}
.panel-blue > a {
    color: #000;
}
.panel-blue > a:hover {
    color: #208ca4;
}

// Green Panels
.panel-green {
    border-color: #000;
}
.panel-green > .panel-heading {
    border-color: #000;
    color: #fff;
    background-color: #29a77a;
}
.panel-green > a {
    color: #000;
}
.panel-green > a:hover {
    color: #29a77a;
}

// Red Panels
.panel-red {
    border-color: #000;
}
.panel-red > .panel-heading {
    border-color: #000;
    color: #fff;
    background-color: #a62f61;
}
.panel-red > a {
    color: #000;
}
.panel-red > a:hover {
    color: #a62f61;
}

// Yellow Panels
.panel-yellow {
    border-color: #000;
}
.panel-yellow > .panel-heading {
    border-color: #000;
    color: #fff;
    background-color: #c58e32;
}
.panel-yellow > a {
    color: #000;
}
.panel-yellow > a:hover {
    color: #c58e32;
}

// Purple Panel
.panel-purple {
    border-color: #000;
}
.panel-purple > .panel-heading {
    border-color: #000;
    color: #fff;
    background-color: #801d87;
}
.panel-purple > a {
    color: #000;
}
.panel-purple > a:hover {
    color: #801d87;
}

// White Panel
.panel-white {
    border-color: #000;
}
.panel-white > .panel-heading {
    border-color: #000;
    color: #000;
    background-color: #fff;
}
.panel-white > a {
    color: #000;
}
.panel-white > a:hover {
    color: #5e5e5e;
}

// Black Panel
.panel-black {
    border-color: #000;
}
.panel-black > .panel-heading {
    border-color: #000;
    color: #fff;
    background-color: #5e5e5e;
}
.panel-black > a {
    color: #000;
}
.panel-black > a:hover {
    color: #5e5e5e;
}

// Robin Panel
.panel-robin {
    border-color: #000;
}
.panel-robin > .panel-heading {
    border-color: #000;
    color: #fff;
    background-color: #00c9c2;
}
.panel-robin > a {
    color: #000;
}
.panel-robin > a:hover {
    color: #00c9c2;
}